<script language="JavaScript" type="text/javascript"> 
    // <![CDATA[
	function setValue(v){ 
		jQuery("#target_target_count").val(v);
	}
	
	function submitForm(){
		document.forms[0].submit();
	}
	
	// ]]>
	    </script>
<div class="pg-title">
            <span class="col-r txt-6xl pg-title-welcome">欢迎来到啄米...</span>
            <h2 class="txt-4xl azure">
                制定个人计划
            </h2>
        </div>
        <div id="main" class="mt-20 cf">
            <div class="col-l col-w">
                <div id="profileview" class="cf">
                    <a href="#this" class="pv-headshot col-l">
                        <img src="../images/photos/xl.jpg" alt="更改头像" title="LiangShu" />
                    </a>
                    <div class="col-l ml-25">
                        <strong class="azure">Shu</strong>
                        <p class="mt-5">
                            <span class="gra">为了提供更好的服务，建议在之后的个人页面中完善</span>
                            <a href="#this" class="azure">个人资料</a>
                        </p>
                    </div>
                </div>
                <div class="clear mt-15">
                    <p class="txt-8xl">
                        我要跑步
                        <span id="planhour-txt" class="txt-5xl azure">1</span>
                        <span class="gra">小时</span>
                    </p>
                    <div id="planhour" class="mt-25">
                        <a href="#this" class="ph-one" onclick="setValue(1);">
                            <span class="ph-txt"><span class="ph-val">1</span><span class="ph-unit">小时</span></span>
                        </a>
                        <a href="#this" class="ph-ten" onclick="setValue(10);">
                            <span class="ph-txt"><span class="ph-val">10</span><span class="ph-unit">小时</span></span>
                        </a>
                        <a href="#this" class="ph-hdrd" onclick="setValue(100);">
                            <span class="ph-txt"><span class="ph-val">100</span><span class="ph-unit">小时</span></span>
                        </a>
                    </div>
                    <p class="txt-4xl bla mt-20">真的准备好了？</p>
					<%= form_for @target, :url => targets_path do |f| %>
						<%= f.hidden_field :target_count %>
						<%= f.hidden_field :category_id %>
						<%= f.hidden_field :metadata_id %>
						<%= f.hidden_field :user_id %>
						<%= f.hidden_field :status %>
						<br />
                    <p class="mt-18">
                        <a href="#this" class="btn-start outerglow" onclick="submitForm();">
                            立刻行动
                            <span class="icon-go"></span>
                        </a>
                    </p>	
					<% end %>
                </div>
            </div>
            <div class="col-l col-n">
            
            </div>
        </div>