
<% @events.each do |event| %>
  <li>
    <%= link_to event.name, event_path(event) %>
    <%= link_to 'edit', edit_event_path(event) %>
    <%= link_to 'delete', event_path(event), :method => :delete %>
  </li>
<% end %>
</ul>
<%= paginate @events %>
 
<%= link_to 'new event', new_event_path %>